<div class="newsletter">
    <div class="newsletter_background" style="background-image:url(/static/main/images/newsletter_background.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="newsletter_container d-flex flex-lg-row flex-column align-items-center justify-content-start">

                    <!-- Newsletter Content -->
                    <div class="newsletter_content text-lg-left text-center">
                        <div class="newsletter_title">sign up for news and offers</div>
                        <div class="newsletter_subtitle">Subcribe to lastest tutorials, news & great deals we offer</div>
                    </div>

                    <!-- Newsletter Form -->
                    <div class="newsletter_form_container ml-lg-auto">
                        <form action="#" id="newsletter_form" class="newsletter_form d-flex flex-row align-items-center justify-content-center">
                            <input type="email" class="newsletter_input" placeholder="Your Email" required="required">
                            <button type="submit" class="newsletter_button">subscribe</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





<!-- Footer -->

<footer class="footer ">
    <div class="footer_background " style="background-image:url(/static/main/images/footer_background.png) "></div>
    <div class="container ">
        <div class="row footer_row ">
            <div class="col ">
                <div class="footer_content ">
                    <div class="row ">

                        <div class="col-lg-3 footer_col ">

                            <!-- Footer About -->
                            <div class="footer_section footer_about ">
                                <div class="footer_logo_container ">
                                    <a href="# ">
                                        <div class="footer_logo_text ">P<span>reons</span></div>
                                    </a>
                                </div>
                                <div class="footer_about_text ">
                                    <p>The technological academy that you rely on always.</p>
                                </div>
                                <div class="footer_social ">
                                    <ul>
                                        <li><a href="# "><i class="fa fa-facebook " aria-hidden="true "></i></a></li>
                                        <li><a href="# "><i class="fa fa-google-plus " aria-hidden="true "></i></a></li>
                                        <li><a href="# "><i class="fa fa-instagram " aria-hidden="true "></i></a></li>
                                        <li><a href="# "><i class="fa fa-twitter " aria-hidden="true "></i></a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3 footer_col ">

                            <!-- Footer Contact -->
                            <div class="footer_section footer_contact ">
                                <div class="footer_title ">Contact Us</div>
                                <div class="footer_contact_info ">
                                    <ul>
                                        <li>Email: www.abrishg73@gmail.com</li>
                                        <li>Phone: +(251) 984 626 161</li>
                                        <li>40 Nile Streat, Bahir dar, Ethiopia</li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3 footer_col ">

                            <!-- Footer links -->
                            <div class="footer_section footer_links ">
                                <div class="footer_title ">Contact Us</div>
                                <div class="footer_links_container ">
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                        <li><a href="# ">Features</a></li>
                                        <li><a href="courses/">Courses</a></li>
                                        <li><a href="# ">Events</a></li>
                                        <li><a href="# ">Gallery</a></li>
                                        <li><a href="# ">FAQs</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3 footer_col clearfix ">

                            <!-- Footer links -->
                            <div class="footer_section footer_mobile ">
                                <div class="footer_title ">Mobile</div>
                                <div class="footer_mobile_content ">
                                    <div class="footer_image ">
                                        <a href="# "><img src="/static/main/images/mobile_1.png " alt=" "></a>
                                    </div>
                                    <div class="footer_image ">
                                        <a href="# "><img src="/static/main/images/mobile_2.png " alt=" "></a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row copyright_row ">
            <div class="col ">
                <div class="copyright d-flex flex-lg-row flex-column align-items-center justify-content-start ">
                    <div class="cr_text ">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved | This official site of made with <i class="fa fa-heart-o " aria-hidden="true "></i> by <a href="#" target="_blank ">Abraham</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="ml-lg-auto cr_links ">
                        <ul class="cr_list ">
                            <li><a href="# ">Copyright notification</a></li>
                            <li><a href="# ">Terms of Use</a></li>
                            <li><a href="# ">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/static/main/js/jquery-3.2.1.min.js "></script>
<script src="/static/main/styles/bootstrap4/popper.js "></script>
<script src="/static/main/styles/bootstrap4/bootstrap.min.js "></script>
<script src="/static/main/plugins/greensock/TweenMax.min.js "></script>
<script src="/static/main/plugins/greensock/TimelineMax.min.js "></script>
<script src="/static/main/plugins/scrollmagic/ScrollMagic.min.js "></script>
<script src="/static/main/plugins/greensock/animation.gsap.min.js "></script>
<script src="/static/main/plugins/greensock/ScrollToPlugin.min.js "></script>
<script src="/static/main/plugins/OwlCarousel2-2.2.1/owl.carousel.js "></script>
<script src="/static/main/plugins/easing/easing.js "></script>
<script src="/static/main/plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="/static/main/plugins/parallax-js-master/parallax.min.js "></script>
<script src="/static/main/js/custom.js"></script>
<script src="/static/main/js/course.js"></script>
<script src="/static/main/plugins/parallax-js-master/parallax.min.js"></script>
</body>