  <!-- Latest Course -->
                            <div class="sidebar_section">
                                <div class="sidebar_section_title">Latest Courses</div>
                                <div class="sidebar_latest">

                                    <!-- Latest Course -->
                                    <div class="latest d-flex flex-row align-items-start justify-content-start">
                                        <div class="latest_image">
                                            <div><img src="/static/main/images/courses/flutter.png" alt=""></div>
                                        </div>
                                        <div class="latest_content">
                                            <div class="latest_title"><a href="cSharp.html">How to design mobile application with flutter</a></div>
                                            <div class="latest_price">Free</div>
                                        </div>
                                    </div>

                                    <!-- Latest Course -->
                                    <div class="latest d-flex flex-row align-items-start justify-content-start">
                                        <div class="latest_image">
                                            <div><img src="/static/main/images/courses/python.png" alt=""></div>
                                        </div>
                                        <div class="latest_content">
                                            <div class="latest_title"><a href="course.html">how to develop Programming on Python</a></div>
                                            <div class="latest_price">Free</div>
                                        </div>
                                    </div>

                                                                      <!-- Latest Course -->
                                    <div class="latest d-flex flex-row align-items-start justify-content-start">
                                        <div class="latest_image">
                                            <div><img src="/static/main/images/courses/java.png" alt=""></div>
                                        </div>
                                        <div class="latest_content">
                                            <div class="latest_title"><a href="course.html">Introduction to Java Programming</a></div>
                                            <div class="latest_price">Free</div>
                                        </div>
                                    </div>

                                </div>
                            </div>


