{% extends "static/header.html" %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="/static/main/styles/about.css">
  <link rel="stylesheet" type="text/css" href="/static/main/styles/about_responsive.css">
   <script src="/static/main/js/about.js"></script>

        <div class="home">
            <div class="breadcrumbs_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li>about</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



     <div class="about">
      <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Welcome To Preons E-Learning</h2>
                    <div class="section_subtitle">
                        <p>you all are warmly welcomed to our online courses , Have a nice learning</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row about_row">

            <!-- About Item -->
            <div class="col-lg-4 about_col about_col_left">
                <div class="about_item">
                    <div class="about_item_image"><img src="/static/main/images/about_1.jpg" alt=""></div>
                    <div class="about_item_title"><a href="#">Our Stories</a></div>
                    <div class="about_item_text">
                        <p>Preons College is accredited as International educational institute with online networking of students at different site. Several programs at Preons E-Learning site have also earned disipline specific accreditations .</p>
                    </div>
                </div>
            </div>

            <!-- About Item -->
            <div class="col-lg-4 about_col about_col_middle">
                <div class="about_item">
                    <div class="about_item_image"><img src="/static/main/images/about_2.jpg" alt=""></div>
                    <div class="about_item_title"><a href="#">Our Mission</a></div>
                    <div class="about_item_text">
                        <p>Preons college is a student centered, comprehensive and innovative college committed to teaching excellence , that advances the life long educational development of its students while strengthening the economic social and cultural
                            life of its diverse community.
                        </p>
                    </div>
                </div>
            </div>

            <!-- About Item -->
            <div class="col-lg-4 about_col about_col_right">
                <div class="about_item">
                    <div class="about_item_image"><img src="/static/main/images/about_3.jpg" alt=""></div>
                    <div class="about_item_title"><a href="#">Our Vision</a></div>
                    <div class="about_item_text">
                        <p>Preons E-learning expands access to educations options and pathways for students through quality online, hybrid, and web-enhanced courses by embracing innovative and accessible modes of course development and delivery.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Feature -->

<div class="feature">
    <div class="feature_background" style="background-image:url(/static/main/images/courses_background.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Why Choose Us</h2>
                    <div class="section_subtitle">
                        <p> The college promotes student success by providing high -quality, flexible, accessible educational programs and services; advancing pluralism, inclusion, and global awareness; and acting as a catalyst and collaborator for a vibrant
                            region.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row feature_row">

            <!-- Feature Content -->
            <div class="col-lg-6 feature_col">
                <div class="feature_content">
                    <!-- Accordions -->
                    <div class="accordions">

                        <div class="elements_accordions">

                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center">
                                    <div>Award for Best School 2020</div>
                                </div>
                                <div class="accordion_panel">
                                    <p>In educational setting , recognition programs honor students for variety academic accomplishments. Typically, academic awards include valedictorian , honor students , class lrader who contribute to school.</p>
                                </div>
                            </div>

                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center active">
                                    <div>You’re learning from the best.</div>
                                </div>
                                <div class="accordion_panel">
                                    <p>Our Preons E -learning platform is open source for students to ask for anything and comment their answer .</p>
                                </div>
                            </div>

                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center">
                                    <div>Our System are recognized worldwide.</div>
                                </div>
                                <div class="accordion_panel">
                                    <p>you are welcomed to join our community for free and support for the contents , that's why our system of education seems unique.</p>
                                </div>
                            </div>

                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center">
                                    <div>We encourage our students to go global.</div>
                                </div>
                                <div class="accordion_panel">
                                    <p>This is our identity to encourage our education all over the globe with our beloved members</p>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- Accordions End -->
                </div>
            </div>

            <!-- Feature Video -->
            <div class="col-lg-6 feature_col">
                <div class="feature_video d-flex flex-column align-items-center justify-content-center">
                    <div class="feature_video_background" style="background-image:url(/static/main/images/Logo.png)"></div>
                    <a class="vimeo feature_video_button" href="https://player.vimeo.com/video/99340873?title=0" title="who we are?">
                        <img src="/static/main/pimages/play.png " alt=" " />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "static/includes/register_teacher.html"%}
<!-- Team -->

<div class="team ">
    <div class="container ">
        <div class="row ">
            <div class="col ">
                <div class="section_title_container text-center ">
                    <h2 class="section_title ">Preons Staff Members</h2>
                    <div class="section_subtitle ">
                        <p>This are the pioneer staff members of the Our educational company. Contact them.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row team_row ">
            <!-- Team Item -->
            <div class="col-lg-3 col-md-6 team_col ">
                <div class="team_item ">
                    <div class="team_image "><img src="/static/main/images/team_4.jpg " alt=" "></div>
                    <div class="team_body ">
                        <div class="team_title "><a href="https://www.facebook.com/abraham.genetu.125">Abraham Genetu</a></div>
                        <div class="team_subtitle ">Biomedical Engineer & Website developer</div>
                        <div class="social_list ">
                            <ul>
                                <li><a href="https://www.facebook.com/abraham.genetu.125"><i class="fa fa-facebook " aria-hidden="true "></i></a></li>
                                <li><a href="# "><i class="fa fa-twitter " aria-hidden="true "></i></a></li>
                                <li><a href="abrishg73@gmail.com"><i class="fa fa-google-plus " aria-hidden="true "></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Item -->
            <div class="col-lg-3 col-md-6 team_col ">
                <div class="team_item ">
                    <div class="team_image "><img src="/static/main/images/team_1.jpg " alt=" "></div>
                    <div class="team_body ">
                        <div class="team_title "><a href="# ">Dawit Asmero</a></div>
                        <div class="team_subtitle ">Artificial Intelligence development</div>
                        <div class="social_list ">
                            <ul>
                                <li><a href="# "><i class="fa fa-facebook " aria-hidden="true "></i></a></li>
                                <li><a href="# "><i class="fa fa-twitter " aria-hidden="true "></i></a></li>
                                <li><a href="# "><i class="fa fa-google-plus " aria-hidden="true "></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Team Item -->
            <div class="col-lg-3 col-md-6 team_col ">
                <div class="team_item ">
                    <div class="team_image "><img src="/static/main/images/team_3.jpg " alt=" "></div>
                    <div class="team_body ">
                        <div class="team_title "><a href="# ">Tewodros Genetu</a></div>
                        <div class="team_subtitle ">Electronics Engineer</div>
                        <div class="social_list ">
                            <ul>
                                <li><a href=""><i class="fa fa-facebook " aria-hidden="true "></i></a></li>
                                <li><a href="# "><i class="fa fa-twitter " aria-hidden="true "></i></a></li>
                                <li><a href="# "><i class="fa fa-google-plus " aria-hidden="true "></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Team Item -->
            <div class="col-lg-3 col-md-6 team_col ">
                <div class="team_item ">
                    <div class="team_image "><img src="/static/main/images/team_2.jpg " alt=" "></div>
                    <div class="team_body ">
                        <div class="team_title "><a href="# ">G/Mariam Kelkay</a></div>
                        <div class="team_subtitle ">Electrical and Textile Engineer</div>
                        <div class="social_list ">
                            <ul>
                                <li><a href="# "><i class="fa fa-facebook " aria-hidden="true "></i></a></li>
                                <li><a href="# "><i class="fa fa-twitter " aria-hidden="true "></i></a></li>
                                <li><a href="# "><i class="fa fa-google-plus " aria-hidden="true "></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Counter -->

<!-- Partners -->

<div class="partners ">
    <div class="container ">
        <div class="row ">
            <div class="col ">
                <div class="partners_slider_container ">
                    <div class="owl-carousel owl-theme partners_slider ">

                        <!-- Partner Item -->
                        <div class="owl-item partner_item "><img src="/static/main/images/partner_1.png " alt=" "></div>

                        <!-- Partner Item -->
                        <div class="owl-item partner_item "><img src="/static/main/images/partner_2.png " alt=" "></div>

                        <!-- Partner Item -->
                        <div class="owl-item partner_item "><img src="/static/main/images/partner_3.png " alt=" "></div>

                        <!-- Partner Item -->
                        <div class="owl-item partner_item "><img src="/static/main/images/partner_4.png " alt=" "></div>

                        <!-- Partner Item -->
                        <div class="owl-item partner_item "><img src="/static/main/images/partner_5.png " alt=" "></div>

                        <!-- Partner Item -->
                        <div class="owl-item partner_item "><img src="/static/main/images/partner_6.png " alt=" "></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "static/includes/footer.html"%} {%endblock%}