{% extends "static/header.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="/static/main/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="/static/main/styles/responsive.css">
<div class="home">
    <div class="home_slider_container">

        <!-- Home Slider -->
        <div class="owl-carousel owl-theme home_slider">

            <!-- Home Slider Item -->
            <!--this is the place for making sliding home -->
            <!-- Home Slider Item -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image:url(/static/main/images/slider0.jpg)"></div>
                <div class="home_slider_content">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="home_slider_title">Preons Institute of Technology</div>
                                <div class="home_slider_subtitle ">Simply Easy Learning</div>
                                <div class="home_slider_form_container ">
                                    <form action="# " id="home_search_form_3" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between ">
                                        <div class="d-flex flex-row align-items-center justify-content-start ">
                                            <input type="search " class="home_search_input " placeholder="Keyword Search " required="required ">
                                            <select class="dropdown_item_select home_search_input ">
                                                        <option>Category Courses</option>
                                                        <option>Computer Science</option>
                                                        <option>Electrical Designing</option>
                                                        <option>Mobile App Development</option>
                                                        <option>Embedded System</option>
                                                        <option>Software Engineering</option>
                                                    </select>
                                            <select class="dropdown_item_select home_search_input ">
                                                        <option>Select Educational level</option>
                                                        <option>Absolute Beginer</option>
                                                        <option>Middle level</option>
                                                        <option>Advanced Learner</option>
                                                    </select>
                                        </div>
                                        <button type="submit " class="home_search_button ">search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-item ">
                <div class="home_slider_background " style="background-image:url(/static/main/images/courses/Coding.jpg) "></div>
                <div class="home_slider_content ">
                    <div class="container ">
                        <div class="row ">
                            <div class="col text-center ">
                                <div class="home_slider_title ">Your premium system of Education</div>
                                <div class="home_slider_subtitle ">Future Of Technology Education </div>
                                <div class="home_slider_form_container ">
                                    <form action="# " id="home_search_form_1" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between ">
                                        <div class="d-flex flex-row align-items-center justify-content-start ">
                                            <input type="search " class="home_search_input " placeholder="Keyword Search " required="required ">
                                            <select class="dropdown_item_select home_search_input ">
                                                        <option>Category Courses</option>
                                                        <option>Computer Science</option>
                                                        <option>Electrical Designing</option>
                                                        <option>Mobile App Development</option>
                                                        <option>Embedded System</option>
                                                        <option value=" ">Software Engineering</option>
                                                    </select>
                                            <select class="dropdown_item_select home_search_input ">
                                                        <option>Select Educational level</option>
                                                        <option>Absolute Beginer</option>
                                                        <option>Middle level</option>
                                                        <option>Advanced Learner</option>
                                                    </select>
                                        </div>
                                        <button type="submit" class="home_search_button ">search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-item ">
                <div class="home_slider_background " style="background-image:url(/static/main/images/slider2.jpg) "></div>
                <div class="home_slider_content ">
                    <div class="container ">
                        <div class="row ">
                            <div class="col text-center ">
                                <div class="home_slider_title ">Spark a pursuit of knowledge</div>
                                <div class="home_slider_subtitle ">Enjoy Learning with preons</div>
                                <div class="home_slider_form_container ">
                                    <form action="# " id="home_search_form_3 " class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between ">
                                        <div class="d-flex flex-row align-items-center justify-content-start ">
                                            <input type="search" class="home_search_input " placeholder="Keyword Search " required="required ">
                                            <select class="dropdown_item_select home_search_input ">
                                                        <option>Category Courses</option>
                                                        <option>Computer Science</option>
                                                        <option>Electrical Designing</option>
                                                        <option>Mobile App Development</option>
                                                        <option>Embedded System</option>
                                                        <option value=" ">Software Engineering</option>
                                                    </select>
                                            <select class="dropdown_item_select home_search_input ">
                                                        <option>Select Educational level</option>
                                                        <option>Absolute Beginer</option>
                                                        <option>Middle level</option>
                                                        <option>Advanced Learner</option>
                                                    </select>
                                        </div>
                                        <button type="submit" class="home_search_button ">search</button>
                                    </form>
                                    <div class="row ">
                                        <div class="col ">
                                            <div class="courses_button trans_200 "><a href="register/">view all courses</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Home Slider Item -->


    <!-- Home Slider Nav -->

    <div class="home_slider_nav home_slider_prev "><i class="fa fa-angle-left " aria-hidden="true"></i></div>
    <div class="home_slider_nav home_slider_next "><i class="fa fa-angle-right " aria-hidden="true"></i></div>
</div>

<!-- Features -->

<div class="features ">
    <div class="container ">
        <div class="row ">
            <div class="col ">
                <div class="section_title_container text-center ">
                    <h2 class="section_title ">Welcome To Preons E-Learning</h2>
                    <div class="section_subtitle ">
                        <p>Preons E-Learning platform is going to be the world's largest tech education provider with experts of each and every subjects.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row features_row ">

            <!-- Features Item -->
            <div class="col-lg-3 feature_col ">
                <div class="feature text-center trans_400 ">
                    <div class="feature_icon "><img src="/static/main/images/icon_1.png " alt=" "></div>
                    <h3 class="feature_title ">The Experts</h3>
                    <div class="feature_text ">
                        <p>Our Experts Provide you the updated technological knowledge.</p>
                    </div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col ">
                <div class="feature text-center trans_400 ">
                    <div class="feature_icon "><img src="/static/main/images/icon_2.png " alt=" "></div>
                    <h3 class="feature_title ">Book & Library</h3>
                    <div class="feature_text ">
                        <p>Preons E-learning provides you latest and updated resources.</p>
                    </div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col ">
                <div class="feature text-center trans_400 ">
                    <div class="feature_icon "><img src="/static/main/images/icon_3.png " alt=" "></div>
                    <h3 class="feature_title " href="courses.html">Best Courses</h3>
                    <div class="feature_text ">
                        <p>You are warmly welcomed to explore the technological courses </p>
                    </div>
                </div>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col ">
                <div class="feature text-center trans_400 ">
                    <div class="feature_icon "><img src="/static/main/images/icon_4.png " alt=" "></div>
                    <h3 class="feature_title ">Premium Services</h3>
                    <div class="feature_text ">
                        <p>Our ultimate award is reaching your satisfacion.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% include "static/includes/register_teacher.html"%}
<!-- Popular Courses -->
{% if user.is_authenticated %} {% include "static/includes/course_cat.html"%} {% else %}
<div class="row ">
    <div class="col ">
        <div class="courses_button trans_200 "><a href="register/">view all courses</a></div>
    </div>
</div>
{% endif %}



<!-- Counter -->
<div class="events ">
    <div class="container ">
        <div class="row ">
            <div class="col ">
                <div class="section_title_container text-center ">
                    <h2 class="section_title ">Upcoming events</h2>
                    <div class="section_subtitle ">
                        <p>Here is the our notice board for the upcoming events planned by the Preons Academy</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row events_row ">

            <!-- Event -->
            <div class="col-lg-4 event_col ">
                <div class="event event_left ">
                    <div class="event_image "><img src="/static/main/images/registration.jpg" alt=" "></div>
                    <div class="event_body d-flex flex-row align-items-start justify-content-start ">
                        <div class="event_date ">
                            <div class="d-flex flex-column align-items-center justify-content-center trans_200 ">
                                <div class="event_day trans_200 ">21</div>
                                <div class="event_month trans_200 ">Aug</div>
                            </div>
                        </div>
                        <div class="event_content ">
                            <div class="event_title "><a href="# ">Registration for the summer tech students.</a></div>
                            <div class="event_info_container ">
                                <div class="event_info "><i class="fa fa-clock-o " aria-hidden="true "></i><span>15.00 - 19.30</span></div>
                                <div class="event_info "><i class="fa fa-map-marker " aria-hidden="true "></i><span>25 Bahir Dar City</span></div>
                                <div class="event_text ">
                                    <p>This registration held on the Aug in this site or in Bahir dar,Ethiopia.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Event -->
            <div class="col-lg-4 event_col ">
                <div class="event event_mid ">
                    <div class="event_image "><img src="/static/main/images/upcoming.png" alt=" "></div>
                    <div class="event_body d-flex flex-row align-items-start justify-content-start ">
                        <div class="event_date ">
                            <div class="d-flex flex-column align-items-center justify-content-center trans_200 ">
                                <div class="event_day trans_200 ">27</div>
                                <div class="event_month trans_200 ">Aug</div>
                            </div>
                        </div>
                        <div class="event_content ">
                            <div class="event_title "><a href="# ">Educational tutorial with workshop labratory practice.(Aug 21- Dec 21)</a></div>
                            <div class="event_info_container ">
                                <div class="event_info "><i class="fa fa-clock-o " aria-hidden="true "></i><span>09.00 - 17.30</span></div>
                                <div class="event_info "><i class="fa fa-map-marker " aria-hidden="true "></i><span>25 Bahir Dar</span></div>
                                <div class="event_text ">
                                    <p>This educational time covers topics now being debated before...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Event -->
            <div class="col-lg-4 event_col ">
                <div class="event event_right ">
                    <div class="event_image "><img src="/static/main/images/inoviation.png" alt=" "></div>
                    <div class="event_body d-flex flex-row align-items-start justify-content-start ">
                        <div class="event_date ">
                            <div class="d-flex flex-column align-items-center justify-content-center trans_200 ">
                                <div class="event_day trans_200 ">01</div>
                                <div class="event_month trans_200 ">Sep</div>
                            </div>
                        </div>
                        <div class="event_content ">
                            <div class="event_title "><a href="# ">Preons innoviation week for students</a></div>
                            <div class="event_info_container ">
                                <div class="event_info "><i class="fa fa-clock-o " aria-hidden="true "></i><span>13.00 - 18.30</span></div>
                                <div class="event_info "><i class="fa fa-map-marker " aria-hidden="true "></i><span>25 New York City</span></div>
                                <div class="event_text ">
                                    <p>Students generally agree on a need for reform to new era of tech, but not on which path...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% include "static/includes/footer.html"%} {%endblock%}